matplotlib==3.7.1
numpy==1.24.3
scipy==1.10.1
tqdm==4.65.0
imageio==2.31.1
shapely==2.0.1
pytest==7.3.2
pytest-cov==4.1.0
gstools==1.5.0
rose@git+https://github.com/PlatypusBytes/ROSE.git
solvers@git+https://github.com/PlatypusBytes/solvers.git
VTK-tools@git+https://bitbucket.org/zuada/vtk_tools.git
