matplotlib==3.10.3
numpy==2.3.1
scipy==1.16.0
tqdm==4.67.1
gstools==1.7.0
shapely==2.1.1
pytest==8.4.1
pytest-cov==6.2.1
tox==4.27.0
PuggleSolvers==1.0.1
SignalProcessingTools==1.2.4
rose@git+https://github.com/PlatypusBytes/ROSE.git
VTK-tools@git+https://github.com/PlatypusBytes/vtk_tools.git